.mondu-section .mondu-payment-logo {
    background-size: 18rem;
    background: url("plugin.png") no-repeat scroll 0 10px;
    background-size: 120px;
    display: inline-block;
    height: 60px;
    padding-left: 20rem;
    vertical-align: middle;

}

.mondu-section .button-container {
    float: right;
}

.mondu-section .mondu-payment-text {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
