.mondu-section .mondu-payment-logo {
    background: url(https://checkout.mondu.ai/logo.svg) no-repeat scroll 0 10px;
    background-size: 18rem;
    height: 60px;
    width: auto;
    padding-left: 20rem;
    display:inline-block;
    vertical-align: middle;
}

.mondu-section .button-container {
    float: right;
}

.mondu-section .mondu-payment-text {
    display: inline-block;
    vertical-align: middle;
    width: 50%
}
