<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mondu>
                <debug>1</debug>
                <active>0</active>
                <model>Mondu\Mondu\Model\Payment\Mondu</model>
                <!-- <model>CustomPaymentGatewayFacade</model> -->
                <mondu_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <order_status>pending</order_status>
                <title>Pay later via bank transfer</title>
                <description>Hinweise zur Verarbeitung Ihrer personenbezogenen Daten durch die Mondu GmbH finden Sie hier.</description>
                <sandbox>1</sandbox>
                <cron>0</cron>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <sort_order>1</sort_order>
                <send_lines>1</send_lines>
                <require_invoice>1</require_invoice>
            </mondu>
            <mondusepa>
                <sort_order>2</sort_order>
                <active>0</active>
                <debug>1</debug>
                <model>Mondu\Mondu\Model\Payment\MonduSepa</model>
                <order_status>pending</order_status>
                <description>Hinweise zur Verarbeitung Ihrer personenbezogenen Daten durch die Mondu GmbH finden Sie hier.</description>
                <title>Pay later via SEPA Direct Debit</title>
            </mondusepa>
            <monduinstallment>
                <sort_order>3</sort_order>
                <active>0</active>
                <debug>1</debug>
                <model>Mondu\Mondu\Model\Payment\MonduInstallment</model>
                <order_status>pending</order_status>
                <description>Hinweise zur Verarbeitung Ihrer personenbezogenen Daten durch die Mondu GmbH finden Sie hier.</description>
                <title>Split Payments</title>
            </monduinstallment>
        </payment>
    </default>
</config>
