<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrf_validator_skip" type="Mondu\Mondu\Helpers\CsrfValidatorSkip" />
    </type>
    <preference for="Mondu\Mondu\Helpers\AdditionalCosts\AdditionalCostsInterface" type="Mondu\Mondu\Helpers\AdditionalCosts\AdditionalCosts" />
    <preference for="Mondu\Mondu\Helpers\BuyerParams\BuyerParamsInterface" type="Mondu\Mondu\Helpers\BuyerParams\BuyerParams" />
    <type name="Mondu\Mondu\Helpers\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Mondu\Mondu\Helpers\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">MONDU</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Mondu\Mondu\Helpers\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="log_listing_data_source_mondu" xsi:type="string">Mondu\Mondu\Model\ResourceModel\Log\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Mondu\Mondu\Model\ResourceModel\Log\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">mondu_transactions</argument>
            <argument name="resourceModel" xsi:type="string">Mondu\Mondu\Model\ResourceModel\Log</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Payment\Helper\Data">
        <plugin sortOrder="10" name="monduPaymentData" type="Mondu\Mondu\Helpers\DataPlugin"/>
    </type>
    <type name="Magento\Sales\Model\Order\ShipmentRepository">
        <plugin sortOrder="10" name="processShipmentSave" type="Mondu\Mondu\Plugin\ProcessShipmentSave" />
    </type>
</config>
