<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mondu\Mondu\Helpers\AdditionalCosts\AdditionalCostsInterface"
                type="Mondu\Mondu\Helpers\AdditionalCosts\AdditionalCosts"/>
    <preference for="Mondu\Mondu\Helpers\BuyerParams\BuyerParamsInterface"
                type="Mondu\Mondu\Helpers\BuyerParams\BuyerParams"/>
    <type name="Mondu\Mondu\Helpers\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Mondu\Mondu\Helpers\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">MONDU</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Mondu\Mondu\Helpers\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="log_listing_data_source_mondu"
                      xsi:type="string">Mondu\Mondu\Model\ResourceModel\Log\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Mondu\Mondu\Model\ResourceModel\Log\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mondu_transactions</argument>
            <argument name="eventPrefix" xsi:type="string">mondu_mondu_log_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">log_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Mondu\Mondu\Model\ResourceModel\Log</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="mondu_csrf_validator_skip" type="Mondu\Mondu\Plugin\Magento\Framework\App\Request\CsrfValidator"/>
    </type>
    <type name="Magento\Payment\Helper\Data">
        <plugin name="mondu_filter_payment_methods" type="Mondu\Mondu\Plugin\Magento\Payment\Helper\Data"/>
    </type>
    <type name="Magento\Email\Model\Template">
        <plugin name="addTemplateVariable" type="Mondu\Mondu\Plugin\Magento\Email\Model\Template"/>                                                                                             
    </type>
    <type name="Mondu\Mondu\Observer\Config\Save">
        <arguments>
            <argument name="monduFileLogger" xsi:type="object">Mondu\Mondu\Helpers\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Mondu\Mondu\Controller\Webhooks\Index">
        <arguments>
            <argument name="monduFileLogger" xsi:type="object">Mondu\Mondu\Helpers\Logger\Logger</argument>
        </arguments>
    </type>
    <!-- Proxied: the admin session must not be built in the frontend or on the CLI. -->
    <type name="Mondu\Mondu\Model\Payment\Source\NetTerm">
        <arguments>
            <argument name="quoteSession" xsi:type="object">Magento\Backend\Model\Session\Quote\Proxy</argument>
        </arguments>
    </type>
    <type name="Mondu\Mondu\Plugin\Magento\Payment\Helper\Data">
        <arguments>
            <argument name="quoteSession" xsi:type="object">Magento\Backend\Model\Session\Quote\Proxy</argument>
        </arguments>
    </type>
    <preference for="Mondu\Mondu\Model\Pdf\InvoicePdfRendererInterface"
                type="Mondu\Mondu\Model\Pdf\CompositeInvoicePdfRenderer"/>
    <type name="Mondu\Mondu\Model\Pdf\CompositeInvoicePdfRenderer">
        <arguments>
            <argument name="defaultRenderer" xsi:type="object">Mondu\Mondu\Model\Pdf\CoreInvoicePdfRenderer</argument>
            <argument name="providers" xsi:type="array">
                <item name="swissup" xsi:type="object">Mondu\Mondu\Model\Pdf\SwissupInvoicePdfRenderer</item>
            </argument>
        </arguments>
    </type>
</config>
