<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="mondu_section" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <comment><![CDATA[<div class="mondu-payment-logo"></div><div class="mondu-payment-text">Buy Now, Pay Later for Online B2B Checkout<br/>Increase your revenue with Mondu’s solution, without the operational burden.</div>]]></comment>
                <fieldset_css>complex mondu-section</fieldset_css>
                <frontend_model>Mondu\Mondu\Block\Adminhtml\Config\Payment</frontend_model>
                <group id="monduapi" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Api Configuration</label>
                    <field id="mondu_key" translate="label" type="obscure" sortOrder="30" showInDefault="1"
                           showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Api key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/mondu/mondu_key</config_path>
                    </field>
                    <field id="mondu_send_lines" translate="label" type="select" sortOrder="31" showInDefault="1"
                           showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Send order line items</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mondu/send_lines</config_path>
                    </field>
                    <field id="mondu_require_invoice" translate="label" type="select" sortOrder="32" showInDefault="1"
                           showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Require invoice for shipment</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mondu/require_invoice</config_path>
                    </field>
                    <field id="sandbox" translate="label" type="select" sortOrder="85" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>Sandbox mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mondu/sandbox</config_path>
                    </field>
                </group>
                <group id="mondugeneral" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <attribute type="expanded">1</attribute>

                    <label>General configuration</label>
                    <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>Enable Bank Transfer</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mondu/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>Bank Transfer Title</label>
                        <config_path>payment/mondu/title</config_path>
                    </field>
                    <field id="description" translate="label" type="textarea" sortOrder="3" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>Bank Transfer Description</label>
                        <config_path>payment/mondu/description</config_path>
                    </field>
                    <field id="activesepa" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>Enable SEPA Direct Debit</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mondusepa/active</config_path>
                    </field>
                    <field id="sepa_title" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>SEPA Direct Debit Title</label>
                        <config_path>payment/mondusepa/title</config_path>
                    </field>
                    <field id="sepa_description" translate="label" type="textarea" sortOrder="6" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>SEPA Direct Debit Description</label>
                        <config_path>payment/mondusepa/description</config_path>
                    </field>
                    <field id="activeinstallment" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>Enable Split Payments</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/monduinstallment/active</config_path>
                    </field>
                    <field id="installment_title" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>Split Payments Title</label>
                        <config_path>payment/monduinstallment/title</config_path>
                    </field>
                    <field id="installment_description" translate="label" type="textarea" sortOrder="9" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>Split Payments Description</label>
                        <config_path>payment/monduinstallment/description</config_path>
                    </field>
                    <field id="activeinstallmentbyinvoice" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>Enable Installments By Invoice</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/monduinstallmentbyinvoice/active</config_path>
                    </field>
                    <field id="installment_by_invoice_title" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>Installments by Invoice Title</label>
                        <config_path>payment/monduinstallmentbyinvoice/title</config_path>
                    </field>
                    <field id="installment_by_invoice_description" translate="label" type="textarea" sortOrder="12" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>Installments by Invoice Description</label>
                        <config_path>payment/monduinstallmentbyinvoice/description</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="14" showInDefault="9"
                           showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Payment From Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/mondu/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="15" showInDefault="1"
                           showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Payment From Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/mondu/specificcountry</config_path>
                    </field>

                    <field id="mondusortorder" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>Bank Transfer Sort Order</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mondu/sort_order</config_path>
                    </field>

                    <field id="mondusepasortorder" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>SEPA Direct Debit Sort Order</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mondusepa/sort_order</config_path>
                    </field>

                    <field id="monduinstallmentsortorder" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>Split Payments Sort Order</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/monduinstallment/sort_order</config_path>
                    </field>

                    <field id="monduinstallmentbyinvoicesortorder" translate="label" type="text" sortOrder="19" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>Installments By Invoice Sort Order</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/monduinstallmentbyinvoice/sort_order</config_path>
                    </field>

                    <field id="debug" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="1">
                        <label>Enable Logs</label>
                        <config_path>payment/mondu/debug</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
                <group id="monducron" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Cron configuration</label>

                    <field id="cron" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                           showInStore="0" canRestore="1">
                        <label>Enable Cron job for sending invoices to Mondu</label>
                        <config_path>payment/mondu/cron</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="monducron_status" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0"
                           showInStore="0" canRestore="1">
                        <label>Order status in which order will be processed by the Cron job</label>
                        <config_path>payment/mondu/cron_status</config_path>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    </field>

                    <field id="monducron_requireinvoice" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0"
                           showInStore="0" canRestore="1">
                        <label>Require Invoice document for processing orders</label>
                        <config_path>payment/mondu/cron_require_invoice</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
